<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contest</title>
    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/homelinkstyle.css">

  </head>
  <body>
  <div class="conatiner">
  <div class="wrap">
    <nav class="navbar navbar-expand-lg">
      <div class="menulist">
      <a href="#"><button type="button" class="btn btn-outline-dark">Lorem Ipsum</button></a>
      <a href="#"><button type="button" class="btn btn-outline-dark">Lorem Ipsum</button></a>
      <a href="#"><button type="button" class="btn btn-outline-dark">Lorem Ipsum</button></a>
      <a href="#"><button type="button" class="btn btn-outline-dark">Lorem Ipsum</button></a>
      <!-- <a href="#"><button type="button" class="btn btn-outline-dark">Lorem Ipsum</button></a> -->

      </div>
    </nav>

<div class="poster">
  <img  class="img"src="img/abc.jpg" alt="image">
</div>


<!-- content -->
<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum, ex id lobortis ultricies, ante tellus malesuada justo, eget mollis eros nunc eget tellus. Mauris dapibus ac ante efficitur aliquam. Integer dignissim rhoncus porta. Aliquam suscipit feugiat sagittis. Vivamus diam dolor, dictum commodo elit id, consequat molestie nisl. Duis et magna et risus blandit rhoncus eget eget tortor. Aenean ornare gravida libero in eleifend. Donec faucibus erat est, at pharetra lorem pretium vel. Nam vel sem quis nisi pretium tristique et eget magna. Vivamus consectetur ornare fermentum. Proin ac ornare nunc.

Phasellus semper dignissim hendrerit. Duis varius, magna vitae suscipit mollis, augue nisi cursus purus, sed elementum quam orci nec sem. Integer quis nisi at diam porta tempus sed sed magna. Vivamus vulputate elit id elementum ornare. Aliquam ultrices at nunc id eleifend. Mauris tempus efficitur vestibulum. Quisque eu turpis ligula. Proin mollis posuere posuere. Curabitur in leo a augue porttitor interdum sit amet a dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce tincidunt, elit ac vulputate porta, eros sem finibus neque, vitae gravida risus purus ut felis. Praesent eget lacus sem.

Vivamus eu egestas nulla. Sed et ullamcorper mauris. Vestibulum a egestas dui. Aliquam in faucibus leo, ac placerat tellus. Sed scelerisque diam ut massa vestibulum, a laoreet libero aliquet. Sed vehicula lacinia euismod. Sed aliquet lectus suscipit efficitur gravida. Aenean rhoncus fermentum cursus. Phasellus at quam ac mauris malesuada mattis at eu odio. Vivamus malesuada suscipit ante quis ultrices. Sed placerat consectetur eros, sed bibendum ligula aliquam in. Mauris non nisi nec quam cursus semper id sed nisl. Nam malesuada maximus urna, et posuere sem sodales ac. Morbi gravida massa vel malesuada tempor. Nulla facilisi. Aenean semper, odio scelerisque gravida facilisis, magna justo aliquet nunc, nec eleifend neque tellus eget lacus.

Cras ornare lectus sagittis lobortis vehicula. Suspendisse venenatis nisi sit amet commodo consectetur. Phasellus malesuada sit amet risus at bibendum. Suspendisse suscipit vestibulum nibh id bibendum. Sed lobortis a odio eget fringilla. Praesent eu dui id elit auctor sodales. Donec non neque mattis, blandit nisi quis, pulvinar diam.

Aliquam ipsum justo, feugiat ac lacus vitae, condimentum ultrices tortor. Aliquam erat volutpat. Quisque sit amet sagittis arcu. Nulla a maximus tortor, nec congue elit. Sed sollicitudin rhoncus mollis. Sed dolor erat, blandit sed maximus non, venenatis consequat sapien. Praesent et orci sed erat consectetur porta a vitae nibh. Praesent convallis dui in varius suscipit. Etiam convallis lacinia pharetra. Aenean non elit et nisi gravida maximus in id orci. Aliquam nisi nisl, viverra nec ullamcorper in, porta eget est. Quisque a odio metus. Phasellus eu rutrum arcu.</p>


</div>
</div>
<!-- footer -->
<div class="footer">
<button type="button" class="btn btn-secondary">participate here!</button>
  <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>

</div>

  </body>
</html>
